# ==========================
# OpenAI
# ==========================

OPENAI_API_KEY="your openai api key"

# ==========================
# Pinecone
# ==========================

PINECONE_API_KEY="your pinecone api key"
PINECONE_INDEX_NAME=annual-report-rag

# ==========================
# Models
# ==========================

EMBEDDING_MODEL=text-embedding-3-small  |
GENERATION_MODEL=gpt-4o-mini            |  => CHOOSE YOUR MODEL 
EVALUATION_MODEL=gpt-4o-mini            |

# ==========================
# Reranker
# ==========================

COHERE_API_KEY="your cohere api key"

# ==========================
# LangSmith (tracing)
# ==========================

LANGCHAIN_TRACING_V2=true
LANGCHAIN_API_KEY="your langsmith api key"
LANGCHAIN_PROJECT=annual-report-rag